apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-oidc-config
  namespace: nextcloud
data:
  oidc.config.php: |
    <?php
    $CONFIG = array (
        'allow_local_remote_servers' => true,
        'allow_user_to_change_display_name' => false,
        'lost_password_link' => 'disabled',
        'oidc_login_provider_url' => 'https://auth.ryzen.me/realms/public',
        'oidc_login_client_id' => 'nextcloud',
        'oidc_login_client_secret' => getenv('OIDC_CLIENT_SECRET'),
        'oidc_login_auto_redirect' => true,
        'oidc_login_logout_url' => 'https://auth.ryzen.me/realms/public/protocol/openid-connect/logout',
        'oidc_login_end_session_redirect' => true,
        'oidc_login_button_text' => 'Log in with Keycloak',
        'oidc_login_hide_password_form' => true,
        'oidc_login_use_id_token' => false,
        'oidc_login_attributes' => array (
            'id' => 'preferred_username',
            'name' => 'name',
            'mail' => 'email',
            'birthdate' => 'birthdate',
            'quota' => 'ownCloudQuota',
            'home' => 'homeDirectory',
            'ldap_uid' => 'uid',
            'groups' => 'ownCloudGroups',
            'login_filter' => 'realm_access_roles',
            'photoURL' => 'picture',
            'is_admin' => 'ownCloudAdmin',
        ),
        'oidc_login_filter_allowed_values' => null,
        'oidc_login_use_external_storage' => false,
        'oidc_login_scope' => 'openid profile',
        'oidc_login_proxy_ldap' => false,
        'oidc_login_disable_registration' => false,
        'oidc_login_redir_fallback' => false,
        'oidc_login_alt_login_page' => false,
        'oidc_login_tls_verify' => true,
        'oidc_create_groups' => false,
        'oidc_login_webdav_enabled' => true,
        'oidc_login_remove_special_characters' => false,
        'oidc_login_password_authentication' => false,
        'oidc_login_public_key_caching_time' => 86400,
        'oidc_login_min_time_between_jwks_requests' => 10,
        'oidc_login_well_known_caching_time' => 86400,
        'oidc_login_update_avatar' => false,
        'oidc_login_skip_proxy' => false,
    );